.h-wrapper {
  position: absolute; /* ليظهر فوق صورة الـ Hero */
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: transparent;
}

.h-container {
  justify-content: space-between;
  padding: 20px 0;
}

.h-menu {
  gap: 2rem;
  color: white;
}

.h-menu a {
  color: white;
  text-decoration: none;
}

.logo-text {
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
}

.logo-text span {
    color: var(--orange);
}